$maincolor: #004773;
$secondcolor: #2fba4b;
$textcolor: #707070;
$textcolor2: #212121;
$bgcolor: #fbfbfb;
$bordercolor: #aaa;
$white: #fff;
$black: #000;
$ratecolor: #ffc107;
$btn-jobs-color: #d2e1d5;
$bghospital: #f8f8f8;
$gbserviceshome: #cee2db;
$cancel: #dc3545;
$bgcard: #eee;
$bg: #e9eaec;

// #ced0d4
// f0f2f5
